html,body {
	background-color: #000;
	height: 100%;
}
#container {
	position: relative;
	max-width: 640px;
	height: 100%;
	overflow: hidden;
	margin:0 auto;
	background: #000 url("../img/bg.jpg") no-repeat;
}
.pages {
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
}
.page {
	display: none;
}
#loading {
	top: 20%;
	/*display: none;*/
}
#loadingWord {
	position: absolute;
	left:19%;
	width:62%;
	top:11%;
	-webkit-animation:loading 3.2s linear infinite ;
}
 
@-webkit-keyframes loading {
	0% {
		-webkit-transform:rotateZ(0);
	}
	100% {
		-webkit-transform:rotateZ(360deg);
	}
}

#page1>div {
	/*display: none;*/
}
#wordTips {
	position: absolute;
	width:100%;
	top:28%;
	left:0;
}
#wordTips p {
	color:#fff;
	font-size: 1.6rem;
	text-align: center;
	line-height: 1.8;
}
.planet-1 {
	position: absolute;
	width:16%;
	left:18.75%;
	top:19%;
}
.planet-2 {
	position: absolute;
	width:15%;
	top:80%;
	left:56%;
}
.planet-3 {
	position: absolute;
	width:12%;
	top:20%;
	left:76%;
}
.planet-4 {
	position: absolute;
	width:16%;
	top:76%;
	left:5%;
}
.superman {
	position: absolute;
	width:82%;
	left:9%;
	top:28%;
}
#superman2 {
	display: none;
}
#vivo {
	position: absolute;
	width:32%;
	left:34%;
	top:28%;
}
#vivo > img:first-child {
	opacity: 0;
}
#vivo .chip {
	opacity: 0;
	position: absolute;
	left:0;
	top:0;
	width:100%;
}
.chip1 {
	transform:translate(53px,-42px);
}
.chip2 {
	transform:translate(-79px,-17px);
}
.chip3 {
	transform:translate(-79px,-42px);
}
.chip4 {
	transform:translate(-30px,-58px);
}
.chip5 {
	transform:translate(-25px,23px);
}
.chip6 {
	transform:translate(68px,-42px);
}
.chip7 {
	transform:translate(-73px,19px);
}
.chip8 {
	transform:translate(39px,36px);
}
#page2 {
	display: block;
}
#page2 .star {
	position: absolute;
}
#vivo .a-chip {
	position: absolute;
}
/*.a-chip-1 {
	top: 10px;
    left: 50px;
}
.a-chip-2 {
	top: 0;
    left: 17px;
}
.a-chip-3 {
	top: 0;
    left: 17px;
}
.a-chip-4 {
	top: 18px;
    left: -41px;
}
.a-chip-5 {
	top: 90px;
    left: 128px;
}
.a-chip-6 {
	top: 121px;
    left: 90px;
}
.a-chip-7 {
	top: 98px;
    left: -31px;
    transform: rotateZ(-45deg);
}
.a-chip-8 {
	left: 10px;
    top: 125px;
}*/
#page2 .star {
	opacity: 0;
}
#star1 {
	width:11%;
	left:12%;
	top:28%;
}

#star2 {
	width:16%;
	left:38%;
	top:24%;
}
#star3 {
	width:18%;
	left:68%;
	top:20%;
}
#star4 {
	width:20%;
	left:72%;
	top:39%;
}
#star5 {
	width:20%;
	left:7%;
	top:35%;
}
#star6 {
	width:20%;
	left:35%;
	top:46%;
}
#star7 {
	width:20%;
	left:9%;
	top:59%;
}
#star8 {
	width:20%;
	left:60%;
	top:64%;
}

#nextPage {
	display: none;
	position: fixed;
	width:100%;
	left:0;
	bottom:0;
	height: 80px;
	text-align: center;
	color:#fff;
	font-size: 1.8rem;
}
#nextBtn {
	display: block;
	width:24px;
	margin:10px auto;
	-webkit-animation:up 1s infinite;
	-webkit-animation-direction:alternate-reverse;
}
@-webkit-keyframes up {
	0% {
		margin-top: 10px;
	}
	100% {
		margin-top: 15px;
	}
}